    <% if @new_book.errors.any? %>
      <%= @new_book.errors.count %>件のerrorが発生しました
      <% @new_book.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
<div class="container px-5 px-sm-0">
<%= render 'users/list', user: current_user %>
    <h2 class="mt-3">New book</h2>
    <%= form_with model: @new_book, local: true do |f| %>
      <div class="form-group">
        <%= f.label :Title %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :Opinion %>
        <%= f.text_field :body %>
      </div>
      <div class="form-group">
        <%= f.submit "Create Book", class: "btn btn-success" %>
      </div>
    <% end %>
   </div>
    <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
            <tr>
              <td><%= attachment_image_tag book.user, :my_image, :fill, 40, 40, fallback: "no_image.jpg" %></td>
              <!--bookにuser_idが入っているのでbook.userが成り立つ（？）-->
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
<%= render 'users/copyright' %>