<div class="container px-5 px-sm-0">
<%= render 'users/list', user: @user %>
<%= render 'users/newbook', new_book: @new_book %>
    <div class="col-md-8 offset-md-1">
        <h2>Books detail</h2>
        <table class="table">
          <body>
            <tr>
              <td>
                <%= attachment_image_tag @user, :my_image, :fill, 100, 100, fallback: "no_image.jpg" %><br />
                <%= @user.name %>
              </td>
              <td><%= @new_book.title %></td>
              <td><%= @new_book.body %></td>
                <% if @user == current_user %>
              <td>
                  %= link_to "Edit", edit_book_path(new_book), class: "btn btn-sm btn-success" %
              </td>
              <td>
                  %= link_to "Destroy", books_path(new_book.id) , method: :dalete, class: "btn btn-sm btn-danger" %
              </td>
                <% end %>
            </tr>
          </tbody>
        </table>
    </div>
</div>